/* Set up header with bold title on the left and back button + dark mode toggle to the right. */
h1 {
    font-size: 3rem;
    margin: 20px 0;
}

header {
    text-align: start;
    display: inline-block;
    min-width: 100vw;
    border-bottom: solid;
}

#back {
    float: right;
}

#display-toggle {
    margin: 5px;
    margin-right: 80px;
}

/* Section acts as a container for the blog title, blog content, and an individual footer. */
section {
    display: block;
    border-style: solid;
    min-width: 95vw;
    margin: 5px;
    padding: 20px;
}

h3 {
    font-size: 2rem;
    border-bottom: solid 1px;
    padding: 5px;
}

section p {
    padding: 20px;
}

section footer {
    font-size: 0.8rem;
    font-style: italic;
    padding: 5px;
}

/* Refers to the main footer of the page rather than the individual blog footers. */
#page-footer {
    font-size: 1rem;
    font-style: italic;
    padding: 5px;
    text-align: center;
    margin-top: 20px;
    border: solid;
}

/* Adds some space between elements in page footer. */
p {
    padding: 10px;
}

/* Styles the back button in the header and the portfolio link ion the footer. */
.weblink {
    text-decoration: none;
    text-decoration: none;
    background-color: lightblue;
    color: black;
    border-style: groove;
    border-radius: 10px;
    font-style: normal;
    padding: 4px 12px;
}
