/* Creates full page width border around header. */
header {
    min-height: 10vh;
    border-bottom: solid;
    margin: 10px;
}

main {
    display: flex;
}

/* Both sections have a width of 45% to allow some space between the elements.*/
section {
    width: 45%;
}

/* Aligns this section to the left and creates border line between this and the right section. */
#section-left {
    float: left;
    border-right: solid;
    border-left: solid;
}

#section-right {
    float: right;
    margin: 0px 40px; 
}

/* Affects sub heading above form in right section. */
#subtitle {
    margin: 30px 0;
    text-align: center;
    font-size: 1.5rem;
    line-height: 1.5rem;
}

/* Basic form styling. */
.form-element {
    margin: 15px 0;
    width: 100%;
    display: block;
}

/* Styling for round div in left section. */
#round {
    position: relative;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    background: repeating-linear-gradient(45deg, #fdba2a, #ffc07c 2.5%, #f69d3c 4%);
    margin: 10px 0px 0px 3vw;
}

#round div {
    position: absolute;
    left: 55px;
    bottom: 285px;
    text-align: center;
}

h1 {
    font-size: 3.5rem;
    line-height: 3.5rem;
}

/* Creates a larger text field for the blog content. */ 
#blog-text {
    height: 200px;
}

/* Styling for the form submit button. */
#submit {
    color: aliceblue;
    background-color: black;
    min-height: 6dvb;
}